@import "tailwindcss";
@plugin '@tailwindcss/typography';
@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-inter);
  --font-space: 'SpaceGrotesk', sans-serif;
  --font-halo: 'HaloGrotesk', sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../public/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'HaloGrotesk';
  src: url('../public/fonts/HaloGrotesk-Regular.otf') format('opentype');
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sh-class: #7aa2f7;
  --sh-sign: #89ddff;
  --sh-string: #9ece6a;
  --sh-keyword: #bb9af7;
  --sh-comment: #565f89;
  --sh-jsxliterals: #7aa2f7;
  --sh-property: #73daca;
  --sh-entity: #e0af68;
}

.font-mono {
  font-family: var(--font-mono)
    /* ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
            "Courier New", monospace */
  ;
}

body {
  overflow-x: hidden;
}

/* Hide scrollbar globally for every page and container */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}